

  
<div class="logo"></div>




<% if user_signed_in? %>
あなたは今ログイン中です。
<% else %>
<p align="center">Twitterアカウントさえあれば即登録完了！<br><%= link_to 'Twitterでログインする', user_twitter_omniauth_authorize_path ,method: :post , class: "btn btn-primary" %></p>
<% end %>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
a
